
@mixin css_animation($transition-property, $transition-duration, $transition-timing) {
  transition-property: $transition-property;transition-duration: $transition-duration;transition-timing-function: $transition-timing;-moz-transition-property:$transition-property;-moz-transition-duration: $transition-duration;-moz-transition-timing-function:$transition-timing;-webkit-transition-property:$transition-property;-webkit-transition-duration: $transition-duration;-webkit-transition-timing-function:$transition-timing;-o-transition-property:$transition-property;-o-transition-duration: $transition-duration;-o-transition-timing-function:$transition-timing;-ms-transition-property:$transition-property;
  -ms-transition-duration: $transition-duration;-ms-transition-timing-function:$transition-timing;
}
@mixin boxsizing() {
  -moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}





/************************************
------------CSS RESET----------------
************************************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%;	vertical-align: baseline;	background: transparent;}
body {line-height: 1; }
ol, ul {list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
:focus {outline: 0;}
table {	border-collapse: collapse;	border-spacing: 0;}

/*clearfix*/
.clearfix {display:block;}
.clearfix:after {content: ".";	display: block;	clear: both;visibility: hidden;line-height: 0;height: 0;}


/************************************
GENERAL STYLING
************************************/


@mixin animation($transition-property, $transition-duration, $transition-timing) {
  transition-property: $transition-property;transition-duration: $transition-duration;transition-timing-function: $transition-timing;-moz-transition-property:$transition-property;-moz-transition-duration: $transition-duration;-moz-transition-timing-function:$transition-timing;-webkit-transition-property:$transition-property;-webkit-transition-duration: $transition-duration;-webkit-transition-timing-function:$transition-timing;-o-transition-property:$transition-property;-o-transition-duration: $transition-duration;-o-transition-timing-function:$transition-timing;-ms-transition-property:$transition-property;
  -ms-transition-duration: $transition-duration;-ms-transition-timing-function:$transition-timing;
}
@mixin boxsizing() {
  -moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}

$color_bg: #eff1f2;
$color_bg2: #3d3939;
$color_1: #333;
$color_2: #777;
$color_hl: #c46060;
body{
  background-color: $color_bg;
  color:$color_1;
  font-family: 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
  font-size: 14px;
  line-height: 1.5em;
}
.content-wrapper{
  color:#eee;
}
p{ margin-bottom:8px;
  line-height: 1.5em;
}
h2{
  color:#222;
  font-size:2em;
  padding:10px 0px 10px 0px;
}
h2.row-title{
  text-align: left;
  color: #222;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  padding-top: 0;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  font-size: 22px;
  line-height: 18px;
  display:inline-block;
  margin-top: 15px;
}
h3{
  color:#555;
  font-size:1.5em;
  font-weight:normal;
  padding:10px 0px 10px 0px;
}
h4{
  font-size:1.2em;
  padding:10px 0px 10px 0px;
}

ol {
  list-style-type: decimal;
}
ul, ol {
  margin: 0 1.5em 1.5em 3.5em;
}

.mwrap-wrapper{
  overflow: hidden;
  width: 100%;
}
.content-wrapper{
}

a.bluestyle{
  text-decoration:none;
  background:#33CCFF;
  color:#fff;
  padding:7px;
}

a.bluestyle:hover{
  background:#33FFFF;
}

.big-quote
{
  font-size:32px;
  font-family: Courier New, Arial;
  font-style:italic;

  line-height:1em;
}

.fullwidth{ width:100%; }

.main-menu{
  position:relative;
  margin-top:15px;
  margin-bottom:15px;
}



.main-menu .button {

  background: #464540;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2NDU0MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YjZiNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #464540 0%, #6b6b6b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464540), color-stop(100%,#6b6b6b));
  background: -webkit-linear-gradient(top, #464540 0%,#6b6b6b 100%);
  background: -o-linear-gradient(top, #464540 0%,#6b6b6b 100%);
  background: -ms-linear-gradient(top, #464540 0%,#6b6b6b 100%);
  background: linear-gradient(top, #464540 0%,#6b6b6b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464540', endColorstr='#6b6b6b',GradientType=0 );

  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 -1px 1px rgba(0, 0, 0, 0.3) inset, 0 2px 4px rgba(0, 0, 0, 0.3);
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  margin: 1px 7px;
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
  font-family: 'Yanone Kaffeesatz', Verdana, sans-serif;
}
.main-menu .button:hover {
  color: #fff;
}

.main-menu .button:first-child {

  margin-left:0;
}

$bs_color: rgba(0,0,0,0.3);
.mcon-maindemo{
  display: block;
  background: $color_bg2;
  position: relative;
  z-index: 4;
  box-shadow:  0px 5px 3px $bs_color inset, 0px -5px 3px $bs_color inset;
}


.mcon-content{
  background: $color_bg;
}


.mcon-footer{
  border-top: 5px solid rgba(0,0,0,0.2);
  background-color: $color_bg2;
  color: #eee;

}

.simple-hr{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.title-feature{
  color: #555;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
}
.mb10{
  margin-bottom: 10px;
}
.mb20{
  margin-bottom: 20px;
}
.mb25{
  margin-bottom: 20px;
}


.article{
  margin:25px 0;
}
.featimg{ vertical-align:sub; }


section.mcon-mainmenu{
  display: block;
  background-color: rgba(255,255,255,0.8);
}


section.mcon-mainmenu > .container{
  margin: 10px auto;
}



.mcon-herosection{
  background-color: #e3eaea;
  border-top:1px solid rgba(0,0,0,0.05);
  border-bottom:1px solid rgba(0,0,0,0.05);
}
section.mcon-features{
  display: block;
  background-color: #454747;
  border-top:1px solid rgba(0,0,0,0.05);
  border-bottom:1px solid rgba(0,0,0,0.05);
  padding: 25px 0;
  color: #fafafa;
}
section.mcon-features h4{
  text-align: center;
  margin: 15px auto 10px;
}

.bigfeature{

  text-align: center;
}


$transition-property: all;
$transition-duration: 0.3s;
$transition-timing: ease-in;


.bigfeature i{
  color: #454747;
  display: inline-block;
    font-size:24px;
  padding: 35px 35px;
  background-color: #ef6b13;
  border-radius:50% 50%;
  cursor: default;
  transform-origin: center center;
  @include boxsizing();
  @include css_animation($transition-property, $transition-duration, $transition-timing);
}
.bigfeature:hover i{
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}


.con-maindemo{
  position: relative;
  background: #eff1f2;
}

.con-maindemo .container{
  z-index: 5;
}
.con-maindemo .pre-container{
  padding:20px 0;
  background-position:top center;
  background-repeat:no-repeat;
  background-color:transparent;
  background-image:url(../img/ppshadow.png);
  background-size: 100% 12px;
  width:100%;
  position: relative;

  z-index: 5;

}
.con-maindemo .videogallery-con{

  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: height;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: height;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: height;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
}

.con-maindemo .overlayhand{
  position: absolute;;
  top: 20px;
  left:0;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  z-index: 0;
  background-color:transparent;
  background-image:url(../img/overlayhand.png);


  transition-property: opacity, visibility, display;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity, visibility, display;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity, visibility, display;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity, visibility, display;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity, visibility, display;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;

}

.con-maindemo .overlayhand.hidden{
  opacity: 0;
  visibility: hidden;
}
@media only screen and (max-width: 960px) {
  .con-maindemo .overlayhand{
    opacity: 0;
    visibility: hidden;
  }
}

.item-meta{
  color: $color_2;
}
.item-price{
  color: $color_hl;
  font-size: 42px;
  margin: 25px 0;
  background: #fff;
  padding: 25px 18px;
  display: inline-block;
}

.con-maindemo .videogallery-con{
  padding: 40px 0;
}

.con-otherdemos{
  background: #eee;
  color: #111;
  border-top: 1px solid rgba(0,0,0,0.2);
}
.con-footer{
  border-top: 1px solid rgba(0,0,0,0.2);
  background-color: #323232;
  color: #eee;

}
.example-button{
  opacity: 0.7;
  cursor: pointer;

  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity, visibility;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity, visibility;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity, visibility;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity, visibility;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;

}
.example-button:hover, .example-button.active{
  opacity: 1;

}

div[class*="con-"] .row{
  margin-top:15px;
  margin-bottom:15px;
}
.con-features{
  background: #495d6d url(img/ptn-02.png) repeat center center;
}

.install-mastercon{
  border-top:5px solid rgba(255, 255, 255, 0.5);
  border-bottom:5px solid rgba(255, 255, 255, 0.5);

  background: #EFDCBF;
}

.round-corners, .rounded {

  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;

}
.flipped
{
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -ms-filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

  }
.selected
{
  opacity:1!important;
  filter:alpha(opacity=100)!important;
}
/************************************
MISC ELEMENTS
************************************/

.delimiter{
  width:915px;
  height:20px;
  background:url('img/delimiter.png');
  margin: 11px 0;
}
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:67.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}

.new-feature{ position:absolute; right:0; top:0; background:transparent url('img/featuredesigner.png') no-repeat center center; width:180px; height:180px; margin:0; padding:0; z-index:3; }
.new-feature:hover{ text-decoration:none; background:transparent url('img/featuredesigner.png') no-repeat center center; }




/* table design */

.dzs-table-header{
  margin-left:293px;
}

.dzs-table-header .header{
  width:75px;
  text-align:center;
  background:#333;
  padding:20px 0;
  display:inline-block;
  font-size:12px;
  border-right:1px solid #444;
  color: #fff;
}
.dzs-table-header .header:first-child{
  border-radius:5px 0 0 0;
}
.dzs-table-header .header:last-child{
  border-radius:0 5px 0 0;
  border-right:0;
}



table.dzs-table	{
  background: #eee;

  font-family: Verdana,Helvetica,sans-serif;
  color: #555;
  font-size: 14px;

  margin-bottom:20px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px #fff;

  width:100%;
}
table.dzs-table	tr{
  text-align: center;
  background: -moz-linear-gradient(center top , #FBFBFB, #FAFAFA) repeat scroll 0 0 transparent;
}

table.dzs-table	tr:nth-child(even) {
  background: #f9f4f4; /* Old browsers */
  background: -moz-linear-gradient(top, #f9f4f4 0%, #eaeaea 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f4f4), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f4f4 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f4f4 0%,#eaeaea 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f9f4f4 0%,#eaeaea 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F4F4', endColorstr='#EAEAEA',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #f9f4f4 0%,#eaeaea 100%); /* W3C */
}

table.dzs-table	tr td{

  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
table.dzs-table	tr td:first-child{
  width:250px;
}
.ok{
  width:30px;
  height:14px;
  background:url('../styleimg/okiconsmall.png') no-repeat center center;
}
.notok{
  width:30px;
  height:14px;
  background:url('../styleimg/xiconsmall.png') no-repeat center center;
}

.code {
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid #DDDDDD;
  font-size: 11px;
  margin: 10px;
  padding: 10px;
}
.code p {
  margin: 0;
}
.install-img{
  margin: 10px 0;
  border: 1px solid rgba(0,0,0,0.2);
}

.features-demi-table{
  position:relative;
  display:block;
  margin-bottom:15px;
}
.features-demi-table .ze-title{
  border-bottom:1px dotted rgba(0,0,0,0.3);
  font-size:1.2em;
  line-height:2.5em;
}
.features-demi-table .ze-label{
  margin-top:5px;
  float:left;
  width:20%;
  font-weight:bold;
}
.features-demi-table .ze-desc{
  margin-top:5px;
  float:left;
  width:80%;
}
.features-demi-table .ze-desc p{
  margin:0;
}

/* ====menu */
.main-menu-con{
  text-align: right;
}

ul.menu{
  display: block;
  list-style: none;
  clear: both;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  float: right;
  position: relative;
}
ul.menu:after {content: ".";	display: block;	clear: both;visibility: hidden;line-height: 0;height: 0;}
ul.menu > li{
  display: block;
  float: left;
  margin-right: 16px;
}
ul.menu li > a{
  color: #aaa;
}
ul.menu > li.current-menu-item > a{
  color: #fff;
}
/* ====menu END */


.clear{
  clear:both;
}
/* ie8 fixes */

.relative{
  position:relative;
  height:300px;
}

.wf31{
  margin-left:1%;
  margin-right: 1%;
  width: 31%;
  float:left;
}


button.btn-primary, a.btn-primary {
  background: $color_hl;
  color: #fff;
  border:0;
  padding: 5px 15px;
  text-decoration: none;

  box-shadow: inset 0 1px #ba3c30, inset 1px 0 #ba3c30, inset -1px 0 #ba3c30, inset 0 -1px #ba3c30, 0 2px #ba3c30, 0 3px #ba3c30, 0 4px 2px rgba(0,0,0,0.0);
  cursor:pointer;
}
button.btn-primary:hover, a.btn-primary:hover{
  background: $color_hl;
  color: #fff;
}

.hero-heading{
  font-size:32px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #555;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial;
}
.hero-quote{
  font-size:13px;
  text-align: center;
}

.con-inline{
  background: #fff;
  position: relative;
  left: 15px;
  @include boxsizing();
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}
.con-inline .span6{
  @include boxsizing();
  padding: 25px 5px;
}
.full-btn-hero{
  width: 100%;
  display: block;
  border:0;
  background: #fff;
  color: $color_hl;
  padding: 15px;
  font-size: 15px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
  font-weight: bold;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.align-center{
  text-align: center;
}

.fig{
  //box-shadow: 0 0 0px 5px rgba(0,0,0,0.3);
  width: 100%;
  border: 5px solid rgba(0,0,0,0.3);
  @include boxsizing();
}


/* ====specific styling */


.hero-box{
  position: relative;
  background: #fafafa url(img/ptn-10.png);
  height: 350px;
  border: 1px dashed rgba(255,0,0,0.2);
  -moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}